.logo {
    font-family: 'Pacifico', cursive;
    color: yellow;
}

.textonimage {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
    color: white;
    font-size: 40px;
}

#toprow {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #E8703C;
   
}

#bottomrow {
    padding-bottom: 20px;
    background: #E8703C;
    
}

#map {
    height: 400px;
}

#endingSection {
    padding-bottom: 20px;
    background: #FFD432;
}

#phone {
    background: #D1FFE5;
}

#navbar {
    background: black;
}


